---
import Layout from '../layouts/BlogPost.astro';
---

<Layout title="¿Quiénes Somos?"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Septiembre 18 2024')}
	heroImage="/panel1.png">

	 <section class="portafolio-contenedor" id="portafolio">
        <div class="contener">
            <div class="card">
                <div class="face front">
                    <img src="mision-sin-fondo.png">
    
                </div>
                <div class=" face back">
                    <h2>Estudiantes</h2>
                    <p>
                        Los años pasan volando y
                        como los queremos disfrutar a tope
                        queremos que te nos unas con tus amigos donde el
                        100% de beneficios irán a parar con tu grupo
                        en tu reino.
                    </p>
                    <div class="link">
                        <a href="videojuejo.html">Juega</a>
    
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face front">
                    <img src="vision.png">
    
                </div>
                <div class=" face back">
                    <h2>Deportes</h2>
                    <p>
                        Nuestra vida entera es resolver rompecabezas.
    
                         
                    </p>
                    <div class="link">
                        <a href="https://cubolivia.com/">Arma</a>
    
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face front">
                    <img src="students.png">
    
                </div>
                <div class=" face back">
                    <h2>Biblioteca</h2>
                    <p>
                        Si buscas la perfección nunca estarás contento (Anna Karenina, Leo Tolstoy)
                    </p>
                    <div class="link">
                        <a href="https://www.bauldellibro.com/libros.php">Lee</a>
    
                    </div>
                </div>
            </div>
            
        </div>
    </section>
</Layout>


