---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SectionContainer from '../components/SectionContainer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<SectionContainer>
				<div class="container mx-auto flex px-5 py-2 items-center justify-center flex-col">
					<img src="/itc_logo.png" class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" id="hero">
					<div class="text-center lg:w-2/3 w-full">
						<h1 class="title-font md:text-4xl text-4xl mb-4 font-extrabold text-gray-900 text-pretty">INSTITUTO TÉCNICO COLUMBIA</h1>
						<p class="mb-8 leading-relaxed">¡Formando Profesionales desde el 2017!</p>
						<p class="mb-8 leading-relaxed">RM 2886/17 1056/23</p>
						<div class="flex justify-center">
							<a class="inline-flex items-center text-white bg-gradient-to-br from-blue-500 to-blue-900 border-0 py-2 px-6 focus:outline-none hover:from-blue-400 hover:to-blue-800 rounded text-lg hover:text-white">VER CURSOS</a>
							<a class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded hover:text-gray-700 text-lg">ANUNCIOS</a>
						</div>
					</div>
				</div>
			</SectionContainer>
		</main>
		<Footer />
	</body>
</html>

<style>
	@media (max-width: 720px) {
		#hero {
			display: none;
		}
	}
</style>
