---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<div class="logo-link">
			<a href="/" target="_blank">
				<img src="/itc_logo_white.png" alt="itc_logo" width="85" class="mr-10">
			</a>
		</div>

		<div class="internal-links">
			<HeaderLink href="/">Inicio</HeaderLink>
			<HeaderLink href="/about">¿Quiénes Somos?</HeaderLink>
			<HeaderLink href="/blog">Cursos</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: linear-gradient(to bottom, rgb(17, 28, 34), rgb(19, 26, 36), rgb(23, 35, 45), rgb(41, 67, 83));
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	nav a {
		padding: 1.5em 0.5em;
		color: #ffffff;
		text-decoration: none;
	}
	nav a.active {
		border-bottom-color: #ffffff;
		text-decoration: underline;
	}
	.logo-link,
	.logo-link a {
		display: flex;
	}
	@media (max-width: 720px) {
		.logo-link {
			display: none;
		}
	}
</style>
